<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Blue Mountains</string>
		<key>webId</key>
		<string>BLUE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kanangra-Boyd</string>
		<key>webId</key>
		<string>KAN</string>
	</dict>
</array>
</plist>
