<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>name</key>
      <string>Blue Mountains</string>
      <key>webId</key>
      <string>N0004</string>
    </dict>
    <dict>
      <key>name</key>
      <string>South East Forest</string>
      <key>webId</key>
      <string>N0111</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Oxley Wild Rivers</string>
      <key>webId</key>
      <string>N0043</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mimosa Rocks</string>
      <key>webId</key>
      <string>N0021</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Bald Rock</string>
      <key>webId</key>
      <string>N0001</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Warrumbungle</string>
      <key>webId</key>
      <string>N0035</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Myall Lakes</string>
      <key>webId</key>
      <string>N0026</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mount Kaputar</string>
      <key>webId</key>
      <string>N0038</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Cathedral Rock</string>
      <key>webId</key>
      <string>N0046</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Kosciuszko</string>
      <key>webId</key>
      <string>N0018</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mungo</string>
      <key>webId</key>
      <string>N0049</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Washpool</string>
      <key>webId</key>
      <string>N0061</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Weddin Mountains</string>
      <key>webId</key>
      <string>N0036</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Deua</string>
      <key>webId</key>
      <string>N0047</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Bents Basin</string>
      <key>webId</key>
      <string>N0618</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Goulburn River</string>
      <key>webId</key>
      <string>N0060</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Ben Boyd</string>
      <key>webId</key>
      <string>N0003</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Bundjalung</string>
      <key>webId</key>
      <string>N0041</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Torrington</string>
      <key>webId</key>
      <string>N0628</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Yengo</string>
      <key>webId</key>
      <string>N0068</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Royal</string>
      <key>webId</key>
      <string>N0030</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Yuraygir</string>
      <key>webId</key>
      <string>N0040</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Gibraltar Range</string>
      <key>webId</key>
      <string>N0012</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Kanangra-Boyd</string>
      <key>webId</key>
      <string>N0016</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Eurobodalla</string>
      <key>webId</key>
      <string>N0095</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Werrikimbe</string>
      <key>webId</key>
      <string>N0042</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Abercrombie River</string>
      <key>webId</key>
      <string>N0093</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Bungonia</string>
      <key>webId</key>
      <string>N0612</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Wadbilliga</string>
      <key>webId</key>
      <string>N0048</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Cattai</string>
      <key>webId</key>
      <string>N0079</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Guy Fawkes River</string>
      <key>webId</key>
      <string>N0013</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Paroo-Darling</string>
      <key>webId</key>
      <string>N0175</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Wollemi</string>
      <key>webId</key>
      <string>N0051</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Coolah Tops</string>
      <key>webId</key>
      <string>N0088</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Culgoa</string>
      <key>webId</key>
      <string>N0099</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mebbin</string>
      <key>webId</key>
      <string>N0144</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Boonoo Boonoo</string>
      <key>webId</key>
      <string>N0056</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Guy Fawkes River</string>
      <key>webId</key>
      <string>N0669</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Kinchega</string>
      <key>webId</key>
      <string>N0017</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Sturt</string>
      <key>webId</key>
      <string>N0032</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Murramarang</string>
      <key>webId</key>
      <string>N0025</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Barrington Tops</string>
      <key>webId</key>
      <string>N0002</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Crowdy Bay</string>
      <key>webId</key>
      <string>N0009</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Tapin Tops</string>
      <key>webId</key>
      <string>N0122</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Chaelundi</string>
      <key>webId</key>
      <string>N0104</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Karuah</string>
      <key>webId</key>
      <string>N0744</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Gundabooka</string>
      <key>webId</key>
      <string>N0100</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mount Canobolas</string>
      <key>webId</key>
      <string>N0636</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Border Ranges</string>
      <key>webId</key>
      <string>N0050</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Munmorah</string>
      <key>webId</key>
      <string>N0605</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Morton</string>
      <key>webId</key>
      <string>N0022</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Marramarra</string>
      <key>webId</key>
      <string>N0052</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Hill End</string>
      <key>webId</key>
      <string>N0204</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Goobang</string>
      <key>webId</key>
      <string>N0096</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Willandra</string>
      <key>webId</key>
      <string>N0037</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Parr</string>
      <key>webId</key>
      <string>N0622</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Bournda</string>
      <key>webId</key>
      <string>N0082</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mutawintji</string>
      <key>webId</key>
      <string>N0113</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Hat Head</string>
      <key>webId</key>
      <string>N0014</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Toonumbar</string>
      <key>webId</key>
      <string>N0092</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Heathcote</string>
      <key>webId</key>
      <string>N0015</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Kings Plains</string>
      <key>webId</key>
      <string>N0067</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Koreelah</string>
      <key>webId</key>
      <string>N0141</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Lane Cove</string>
      <key>webId</key>
      <string>N0083</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Kwiambal</string>
      <key>webId</key>
      <string>N0156</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Bouddi</string>
      <key>webId</key>
      <string>N0005</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mann River</string>
      <key>webId</key>
      <string>N0569</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Limeburners Creek</string>
      <key>webId</key>
      <string>N0443</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Dharug</string>
      <key>webId</key>
      <string>N0010</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Nowendoc</string>
      <key>webId</key>
      <string>N0130</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mummel Gulf</string>
      <key>webId</key>
      <string>N0129</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Nymboida</string>
      <key>webId</key>
      <string>N0055</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Richmond Range</string>
      <key>webId</key>
      <string>N0110</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Nymboi-Binderay</string>
      <key>webId</key>
      <string>N0109</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Whian Whian</string>
      <key>webId</key>
      <string>N0699</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Woomargama</string>
      <key>webId</key>
      <string>N0159</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Nangar</string>
      <key>webId</key>
      <string>N0063</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Ku-ring-gai Chase</string>
      <key>webId</key>
      <string>N0019</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Turon</string>
      <key>webId</key>
      <string>N0174</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Booti Booti</string>
      <key>webId</key>
      <string>N0081</string>
    </dict>
    <dict>
      <key>name</key>
      <string>New England</string>
      <key>webId</key>
      <string>N0028</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Arakoon</string>
      <key>webId</key>
      <string>N0601</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Wallingat</string>
      <key>webId</key>
      <string>N0132</string>
    </dict>
    <dict>
      <key>name</key>
      <string>The Glen</string>
      <key>webId</key>
      <string>N0734</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Warrabah</string>
      <key>webId</key>
      <string>N0064</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Towarri</string>
      <key>webId</key>
      <string>N0112</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Woko</string>
      <key>webId</key>
      <string>N0057</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Wombeyan Karst</string>
      <key>webId</key>
      <string>N0352</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Cocoparra</string>
      <key>webId</key>
      <string>N0008</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Mount Royal</string>
      <key>webId</key>
      <string>N0107</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Watagans</string>
      <key>webId</key>
      <string>N0133</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Abercrombie Karst</string>
      <key>webId</key>
      <string>N0350</string>
    </dict>
  </array>
</plist>
