<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>shortName</key>
      <string>Blue Mountains NP</string>
      <key>longName</key>
      <string>Blue Mountains National Park</string>
      <key>webId</key>
      <string>N0004</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>South East Forest NP</string>
      <key>longName</key>
      <string>South East Forest National Park</string>
      <key>webId</key>
      <string>N0111</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Oxley Wild Rivers NP</string>
      <key>longName</key>
      <string>Oxley Wild Rivers National Park</string>
      <key>webId</key>
      <string>N0043</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mimosa Rocks NP</string>
      <key>longName</key>
      <string>Mimosa Rocks National Park</string>
      <key>webId</key>
      <string>N0021</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Bald Rock NP</string>
      <key>longName</key>
      <string>Bald Rock National Park</string>
      <key>webId</key>
      <string>N0001</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Warrumbungle NP</string>
      <key>longName</key>
      <string>Warrumbungle National Park</string>
      <key>webId</key>
      <string>N0035</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Myall Lakes NP</string>
      <key>longName</key>
      <string>Myall Lakes National Park</string>
      <key>webId</key>
      <string>N0026</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mount Kaputar NP</string>
      <key>longName</key>
      <string>Mount Kaputar National Park</string>
      <key>webId</key>
      <string>N0038</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Cathedral Rock NP</string>
      <key>longName</key>
      <string>Cathedral Rock National Park</string>
      <key>webId</key>
      <string>N0046</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Kosciuszko NP</string>
      <key>longName</key>
      <string>Kosciuszko National Park</string>
      <key>webId</key>
      <string>N0018</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mungo NP</string>
      <key>longName</key>
      <string>Mungo National Park</string>
      <key>webId</key>
      <string>N0049</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Washpool NP</string>
      <key>longName</key>
      <string>Washpool National Park</string>
      <key>webId</key>
      <string>N0061</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Weddin Mountains NP</string>
      <key>longName</key>
      <string>Weddin Mountains National Park</string>
      <key>webId</key>
      <string>N0036</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Deua NP</string>
      <key>longName</key>
      <string>Deua National Park</string>
      <key>webId</key>
      <string>N0047</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Bents Basin SCA</string>
      <key>longName</key>
      <string>Bents Basin State Conservation Area</string>
      <key>webId</key>
      <string>N0618</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Goulburn River NP</string>
      <key>longName</key>
      <string>Goulburn River National Park</string>
      <key>webId</key>
      <string>N0060</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Ben Boyd NP</string>
      <key>longName</key>
      <string>Ben Boyd National Park</string>
      <key>webId</key>
      <string>N0003</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Bundjalung NP</string>
      <key>longName</key>
      <string>Bundjalung National Park</string>
      <key>webId</key>
      <string>N0041</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Torrington SCA</string>
      <key>longName</key>
      <string>Torrington State Conservation Area</string>
      <key>webId</key>
      <string>N0628</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Yengo NP</string>
      <key>longName</key>
      <string>Yengo National Park</string>
      <key>webId</key>
      <string>N0068</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Royal NP</string>
      <key>longName</key>
      <string>Royal National Park</string>
      <key>webId</key>
      <string>N0030</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Yuraygir NP</string>
      <key>longName</key>
      <string>Yuraygir National Park</string>
      <key>webId</key>
      <string>N0040</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Gibraltar Range NP</string>
      <key>longName</key>
      <string>Gibraltar Range National Park</string>
      <key>webId</key>
      <string>N0012</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Kanangra-Boyd NP</string>
      <key>longName</key>
      <string>Kanangra-Boyd National Park</string>
      <key>webId</key>
      <string>N0016</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Eurobodalla NP</string>
      <key>longName</key>
      <string>Eurobodalla National Park</string>
      <key>webId</key>
      <string>N0095</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Werrikimbe NP</string>
      <key>longName</key>
      <string>Werrikimbe National Park</string>
      <key>webId</key>
      <string>N0042</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Abercrombie River NP</string>
      <key>longName</key>
      <string>Abercrombie River National Park</string>
      <key>webId</key>
      <string>N0093</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Bungonia SCA</string>
      <key>longName</key>
      <string>Bungonia State Conservation Area</string>
      <key>webId</key>
      <string>N0612</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Wadbilliga NP</string>
      <key>longName</key>
      <string>Wadbilliga National Park</string>
      <key>webId</key>
      <string>N0048</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Cattai NP</string>
      <key>longName</key>
      <string>Cattai National Park</string>
      <key>webId</key>
      <string>N0079</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Guy Fawkes River NP</string>
      <key>longName</key>
      <string>Guy Fawkes River National Park</string>
      <key>webId</key>
      <string>N0013</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Paroo-Darling NP</string>
      <key>longName</key>
      <string>Paroo-Darling National Park</string>
      <key>webId</key>
      <string>N0175</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Wollemi NP</string>
      <key>longName</key>
      <string>Wollemi National Park</string>
      <key>webId</key>
      <string>N0051</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Coolah Tops NP</string>
      <key>longName</key>
      <string>Coolah Tops National Park</string>
      <key>webId</key>
      <string>N0088</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Culgoa NP</string>
      <key>longName</key>
      <string>Culgoa National Park</string>
      <key>webId</key>
      <string>N0099</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mebbin NP</string>
      <key>longName</key>
      <string>Mebbin National Park</string>
      <key>webId</key>
      <string>N0144</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Boonoo Boonoo NP</string>
      <key>longName</key>
      <string>Boonoo Boonoo National Park</string>
      <key>webId</key>
      <string>N0056</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Guy Fawkes River SCA</string>
      <key>longName</key>
      <string>Guy Fawkes River State Conservation Area</string>
      <key>webId</key>
      <string>N0669</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Kinchega NP</string>
      <key>longName</key>
      <string>Kinchega National Park</string>
      <key>webId</key>
      <string>N0017</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Sturt NP</string>
      <key>longName</key>
      <string>Sturt National Park</string>
      <key>webId</key>
      <string>N0032</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Murramarang NP</string>
      <key>longName</key>
      <string>Murramarang National Park</string>
      <key>webId</key>
      <string>N0025</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Barrington Tops NP</string>
      <key>longName</key>
      <string>Barrington Tops National Park</string>
      <key>webId</key>
      <string>N0002</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Crowdy Bay NP</string>
      <key>longName</key>
      <string>Crowdy Bay National Park</string>
      <key>webId</key>
      <string>N0009</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Tapin Tops NP</string>
      <key>longName</key>
      <string>Tapin Tops National Park</string>
      <key>webId</key>
      <string>N0122</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Chaelundi NP</string>
      <key>longName</key>
      <string>Chaelundi National Park</string>
      <key>webId</key>
      <string>N0104</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Karuah NR</string>
      <key>longName</key>
      <string>Karuah Nature Reserve</string>
      <key>webId</key>
      <string>N0744</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Gundabooka NP</string>
      <key>longName</key>
      <string>Gundabooka National Park</string>
      <key>webId</key>
      <string>N0100</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mount Canobolas SCA</string>
      <key>longName</key>
      <string>Mount Canobolas State Conservation Area</string>
      <key>webId</key>
      <string>N0636</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Border Ranges NP</string>
      <key>longName</key>
      <string>Border Ranges National Park</string>
      <key>webId</key>
      <string>N0050</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Munmorah SCA</string>
      <key>longName</key>
      <string>Munmorah State Conservation Area</string>
      <key>webId</key>
      <string>N0605</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Morton NP</string>
      <key>longName</key>
      <string>Morton National Park</string>
      <key>webId</key>
      <string>N0022</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Marramarra NP</string>
      <key>longName</key>
      <string>Marramarra National Park</string>
      <key>webId</key>
      <string>N0052</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Hill End</string>
      <key>longName</key>
      <string>Hill End Historic Site</string>
      <key>webId</key>
      <string>N0204</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Goobang NP</string>
      <key>longName</key>
      <string>Goobang National Park</string>
      <key>webId</key>
      <string>N0096</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Willandra NP</string>
      <key>longName</key>
      <string>Willandra National Park</string>
      <key>webId</key>
      <string>N0037</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Parr SCA</string>
      <key>longName</key>
      <string>Parr State Conservation Area</string>
      <key>webId</key>
      <string>N0622</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Bournda NP</string>
      <key>longName</key>
      <string>Bournda National Park</string>
      <key>webId</key>
      <string>N0082</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mutawintji NP</string>
      <key>longName</key>
      <string>Mutawintji National Park</string>
      <key>webId</key>
      <string>N0113</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Hat Head NP</string>
      <key>longName</key>
      <string>Hat Head National Park</string>
      <key>webId</key>
      <string>N0014</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Toonumbar NP</string>
      <key>longName</key>
      <string>Toonumbar National Park</string>
      <key>webId</key>
      <string>N0092</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Heathcote NP</string>
      <key>longName</key>
      <string>Heathcote National Park</string>
      <key>webId</key>
      <string>N0015</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Kings Plains NP</string>
      <key>longName</key>
      <string>Kings Plains National Park</string>
      <key>webId</key>
      <string>N0067</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Koreelah NP</string>
      <key>longName</key>
      <string>Koreelah National Park</string>
      <key>webId</key>
      <string>N0141</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Lane Cove NP</string>
      <key>longName</key>
      <string>Lane Cove National Park</string>
      <key>webId</key>
      <string>N0083</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Kwiambal NP</string>
      <key>longName</key>
      <string>Kwiambal National Park</string>
      <key>webId</key>
      <string>N0156</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Bouddi NP</string>
      <key>longName</key>
      <string>Bouddi National Park</string>
      <key>webId</key>
      <string>N0005</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mann River NR</string>
      <key>longName</key>
      <string>Mann River Nature Reserve</string>
      <key>webId</key>
      <string>N0569</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Limeburners Creek NR</string>
      <key>longName</key>
      <string>Limeburners Creek Nature Reserve</string>
      <key>webId</key>
      <string>N0443</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Dharug NP</string>
      <key>longName</key>
      <string>Dharug National Park</string>
      <key>webId</key>
      <string>N0010</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Nowendoc NP</string>
      <key>longName</key>
      <string>Nowendoc National Park</string>
      <key>webId</key>
      <string>N0130</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mummel Gulf NP</string>
      <key>longName</key>
      <string>Mummel Gulf National Park</string>
      <key>webId</key>
      <string>N0129</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Nymboida NP</string>
      <key>longName</key>
      <string>Nymboida National Park</string>
      <key>webId</key>
      <string>N0055</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Richmond Range NP</string>
      <key>longName</key>
      <string>Richmond Range National Park</string>
      <key>webId</key>
      <string>N0110</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Nymboi-Binderay NP</string>
      <key>longName</key>
      <string>Nymboi-Binderay National Park</string>
      <key>webId</key>
      <string>N0109</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Whian Whian SCA</string>
      <key>longName</key>
      <string>Whian Whian State Conservation Area</string>
      <key>webId</key>
      <string>N0699</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Woomargama NP</string>
      <key>longName</key>
      <string>Woomargama National Park</string>
      <key>webId</key>
      <string>N0159</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Nangar NP</string>
      <key>longName</key>
      <string>Nangar National Park</string>
      <key>webId</key>
      <string>N0063</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Ku-ring-gai Chase NP</string>
      <key>longName</key>
      <string>Ku-ring-gai Chase National Park</string>
      <key>webId</key>
      <string>N0019</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Turon NP</string>
      <key>longName</key>
      <string>Turon National Park</string>
      <key>webId</key>
      <string>N0174</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Booti Booti NP</string>
      <key>longName</key>
      <string>Booti Booti National Park</string>
      <key>webId</key>
      <string>N0081</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>New England NP</string>
      <key>longName</key>
      <string>New England National Park</string>
      <key>webId</key>
      <string>N0028</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Arakoon SCA</string>
      <key>longName</key>
      <string>Arakoon State Conservation Area</string>
      <key>webId</key>
      <string>N0601</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Wallingat NP</string>
      <key>longName</key>
      <string>Wallingat National Park</string>
      <key>webId</key>
      <string>N0132</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>The Glen NR</string>
      <key>longName</key>
      <string>The Glen Nature Reserve</string>
      <key>webId</key>
      <string>N0734</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Warrabah NP</string>
      <key>longName</key>
      <string>Warrabah National Park</string>
      <key>webId</key>
      <string>N0064</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Towarri NP</string>
      <key>longName</key>
      <string>Towarri National Park</string>
      <key>webId</key>
      <string>N0112</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Woko NP</string>
      <key>longName</key>
      <string>Woko National Park</string>
      <key>webId</key>
      <string>N0057</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Wombeyan KCR</string>
      <key>longName</key>
      <string>Wombeyan Karst Conservation Reserve</string>
      <key>webId</key>
      <string>N0352</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Cocoparra NP</string>
      <key>longName</key>
      <string>Cocoparra National Park</string>
      <key>webId</key>
      <string>N0008</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Mount Royal NP</string>
      <key>longName</key>
      <string>Mount Royal National Park</string>
      <key>webId</key>
      <string>N0107</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Watagans NP</string>
      <key>longName</key>
      <string>Watagans National Park</string>
      <key>webId</key>
      <string>N0133</string>
    </dict>
    <dict>
      <key>shortName</key>
      <string>Abercrombie KCR</string>
      <key>longName</key>
      <string>Abercrombie Karst Conservation Reserve</string>
      <key>webId</key>
      <string>N0350</string>
    </dict>
  </array>
</plist>
